extends layout.pug

block content
  h3 将修改#{email}账户的密码
  form(action="" method="POST")
    div 输入新的密码
    div: input(type="password" name="password")
    div 重复输入新的密码
    div: input(type="password" name="password2")
    button 提交