doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/bootstrap.min.css")
    script(src="/jquery-3.6.0.min.js")
    title BBS
  body 
    header 
      h1: a(href="/" style="text-decoration:none") BBS
      if (isLogin)
        p 
          | 你好, #{loginUser.name} 
          a(href="/post") 发帖
          |
          |
          a(href="/logout") 登出
      else
        p 
          a(href="/login") 登录
          |
          |
          a(href="/register") 注册

    block content 

    footer 
      p &copy;2022